@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color-hex: #295da6;
  --main-color-red-rgb: 41;
  --main-color-green-rgb: 93;
  --main-color-blue-rgb: 166;
  --secondary-colol-hex: #ffc936;
  --background-hex: #ffffff;
}

body {
  color: var(--main-color-hex);
  background: var(--background-hex);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@import "./typography.css";
