@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color-hex: #295DA6;
  --secondary-colol-hex: #FFC936;
  --background-hex: #FFFFFF;
}

body {
  color: var(--main-color-hex);
  background: var(--background-hex);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
